body{
    margin: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }
  input, textarea, select, button {
    padding: 0;
    margin: 5px 0;
    box-sizing: border-box;
  }
.raleway{
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: #e6e619;
}
#header-title{
    margin: 0;
    padding: 1px 0;
    text-align: center;
}
.header-title-link{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    border-bottom: 1px solid black;
}
#nav-links{
    width: 40%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-links > li {
    margin: 0 10px;
    font-size: 24px;
}
#nav-links > li > a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 2px;
}
#nav-links > li > a:hover{
    background-color: black;
    color: #e6e619;
}

#nav-links > li:first-child{
    margin: 0px 10px 0px 0px;
}
#account-control-wrap{
    width: 60%;
    justify-content: flex-end;
    display: flex;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#account-control-wrap > li {
    margin: 0 10px;
    font-size: 24px;

}
#account-control-wrap > li > a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 2px;
}
#account-control-wrap > li > a:hover{
    background-color: black;
    color: #e6e619;
}
main{
    min-height: 60vh;
    margin-bottom: 45px;
}
.banner-image-wrap{
    text-align: center;
    min-height: 200px;
    background-color: #e6e619;
}
.logo-text{
    font-size: 32px;
    display: block;
}
.tagline{
    background-color: black;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.tagline-text{
    color: white;
    display: block;
    font-size: 42px;
    color: #e6e619;
}
.featured{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}
.featured-desc{
    max-width: 25vw;
}
footer{
    min-height: 75px;
    background-color: black;
    color: #e6e619;
}
#footer-nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}
#footer-nav > li{
    margin: 0 10px;
    font-size: 24px;
}
#footer-nav > li > a{
    text-decoration: none;
    color: #e6e619;
    display: block;
    padding: 2px;
}
#footer-nav > li > a:hover{
    background-color: #e6e619;
    color: black;
}
.account-form-wrap{
    margin: 10vh auto;
    width: 40vw;
    border: 2px solid black;
}
.account-form-header{
    font-size: 36px;
    text-align: center;
    background-color: #e6e619;
}
.account-form{
    margin: 25px auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
}
.account-form > input, button {
    min-width: 50%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.account-form > label{
    justify-self: left;
}
.sign-up-error{
    font-size: large;
    color: red;
    text-align: center;
    width: 100%;
    margin: auto;
}
.account-success{
    text-align: center;
    background-color: green;
    border: 1px solid black;
}
.account-success > h3{
    margin: 1px;
}
.about-section{
    margin: 45px 75px;
}
